apiVersion: apps/v1
kind: Deployment
metadata:
  name: bird-image-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: bird-image-api
  template:
    metadata:
      labels:
        app: bird-image-api
    spec:
      containers:
      - name: bird-image-api
        image: bruno74t/bird-image-api:v.1.0.1
        ports:
        - containerPort: 4200
---
apiVersion: v1
kind: Service
metadata:
  name: bird-image-service
spec:
  selector:
    app: bird-image-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4200
  type: NodePort
